
.vs/processFlow/v15/.suo
.vs/processFlow/v15/Server/sqlite3/db.lock
.vs/processFlow/v15/Server/sqlite3/storage.ide-wal
.vs/processFlow/v15/Server/sqlite3/storage.ide-shm
.vs/processFlow/v15/.suo
.vs/processFlow/v15/.suo
.vs/processFlow/v15/.suo
*.cache
*.ide
.vs/processFlow/v15/.suo
.vs/processFlow/v15/.suo
