
.vs/processFlow/v15/.suo
.vs/processFlow/v15/Server/sqlite3/db.lock
.vs/processFlow/v15/Server/sqlite3/storage.ide-wal
.vs/processFlow/v15/Server/sqlite3/storage.ide-shm
*.cache
*.ide
*.ide-wal
*.lock
*.ide-shm
logic/obj/Debug/Logic.csproj.FileListAbsolute.txt
*.pdb
*.pdb
*.pdb
*.pdb
*.exe
*.pdb
logic/bin/Debug/logic.dll
logic/bin/Debug/logic.pdb
logic/obj/Debug/logic.dll
logic/obj/Debug/logic.pdb
processFlow/bin/Debug/logic.dll
processFlow/bin/Debug/logic.pdb
processFlow/bin/Debug/processFlow.exe
processFlow/bin/Debug/processFlow.pdb
processFlow/bin/Debug/xmlIO.dll
processFlow/bin/Debug/xmlIO.pdb
processFlow/obj/x86/Debug/processFlow.exe
processFlow/obj/x86/Debug/processFlow.pdb
xmlIO/bin/Debug/logic.dll
xmlIO/bin/Debug/logic.pdb
xmlIO/bin/Debug/xmlIO.dll
xmlIO/bin/Debug/xmlIO.pdb
xmlIO/obj/Debug/xmlIO.dll
xmlIO/obj/Debug/xmlIO.pdb
